@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  /* background-color: black; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(img/bg.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)),
    url(img/bg2.jpg);
  background-size: contain;
  background-position: 0 0;
}

.banner .slider {
  position: absolute;
  width: 150px;
  height: 250px;
  top: 20%;
  left: calc(50% - 75px);
  transform-style: preserve-3d;
  /* transform: perspective(1500px); */
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(var(--rotate-x)) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(var(--rotate-x)) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(400px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  padding-bottom: 70px;
  /* color: #25283b; */
  color: #f2cc8f;
  font-family: "Alfa Slab One", serif;
  font-weight: 900;
  font-size: 2em;
  z-index: 1;
}

.banner .content h2::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  /* -webkit-text-stroke: 2px #d2d2d2; */
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.banner .model {
  /* background-image: url(img/wed22.JPG); */
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border: 2px solid #f2cc8f;
}

.btn {
  position: absolute;
  top: calc(20% + 250px + 150px);
  right: 10%;
  z-index: 3;
}

.btn svg {
  height: 3rem;
  background: none;
  fill: white;
  cursor: pointer;
}

.btn button:nth-child(2) {
  margin-left: 10px;
}

@media (pointer: coarse) {
  .btn {
    display: block;
  }

  .banner .content {
    padding-bottom: 100px;
  }
}

@media (pointer: fine) {
  .btn {
    display: none;
  }
}
